{% extends 'main/base.html' %}
{% block page_content %}
    <body class="login-body">
    <div class="oauth-forms">
        <form method='post' action='{% url 'Change password' %}'>

            <div class="data-input">
                {{ form.old_password }}
            </div>
            <div class="data-input">
                {{ form.new_password1 }}
            </div>
            <div class="data-input">
                {{ form.new_password2 }}
            </div>
            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn-my-class-blue-change-pass">Change Password</button>
        </form>
    </div>
    </body>
{% endblock %}